        <div class="col-9 p-none">
          {{! navigation }}
          {{> navbar}}
          {{! body-collections }}
          <div class="body-col">
            <div class="body-colect">
                {{> card}}
            </div>
          </div>
        </div>